        <header>recipe.place</header>

        <main role="main">
            <article vocab="http://schema.org/" typeof="Recipe">
                <h1 property="name">{{name}}</h1>

                <section>
                    <h2>Details</h2>
                    <meta property="datePublished" content="{{datePublished}}">{{datePublished}}
                    From: <a href="{{url}}" alt="Source of recipe">{{url}}</a>
                    Age range: <span property="typicalAgeRange">{{typicalAgeRange}}</span>
                    Yield: <span property="recipeYield">{{recipeYield}}</span>
                    Category: <span property="recipeCategory">{{recipeCategory}}</span>
                    Cuisine: <span property="recipeCuisine">{{recipeCuisine}}</span>

                    <p>Description: <span property="description">{{description}}</span></p>

                    <img property="image" src="{{image}}">
                    <section>
                        <h3>Cooking/Preparation Time</h3>
                        Prep time: <meta property="prepTime" content="{{prepTime}}">{{prepTime}}
                        Cook time: <meta property="cookTime" content="{{cookTime}}">{{cookTime}}
                        Ready in: <meta property="totalTime" content="{{totalTime}}">{{totalTime}}
                        Cooking method: <meta property="cookMethod" content="{{cookMethod}}">{{cookMethod}}
                    </section>
                </section>

                <section>
                    <h2>Ingredients</h2>
                    <ul>
                    {{#each ingredients}}
                        <li property="ingredients">{{this}}</li>
                    {{/each}}
                    </ul>
                </section>

                <section>
                    <h2>Instructions</h2>
                    <ol property="recipeInstructions">
                    {{#each recipeInstructions}}
                        <li>{{this}}</li>
                    {{/each}}
                    </ol>
                </section>
            </article>
        </main>

        <footer>(C) recipe.place</footer>